################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FileAccessLib/.vs/FileAccessLib/v16
/.vs
/FileAccessLib/FileAccessLib/Debug
/FileAccessLib/Debug
/ArenaMemoryLib/.vs/ArenaMemoryTest/v16
/ArenaMemoryLib/x64/Debug
